{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mt-3">{{ message }}</div>
  {% endfor %}
{% endif %}
<div class="container mt-4">
  <div class="card shadow mt-4" style="border-left: 5px solid #12075e;">
    <div class="card-header text-#12075e" >
      <h4 class="mb-0">Password Reset Request</h4>
    </div>
    <div class="card-body bg-light">
      {% include 'reset_system/submit_request.html' %}
    </div>
  </div>
</div>
{% endblock %}
