{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>ICT Admin Dashboard</h2>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Requestor</th>
        <th>System</th>
        <th>Status</th>
         <th>Submitted</th>
          <th>Last Updated</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for req in requests %}
      <tr>
        <td>{{ req.requestor.username }}</td>
         <td>
            {% if req.is_ad_account %}
              Windows AD Account - {{ req.affected_name }}
            {% else %}
              {{ req.get_system_display }}
              {% endif %}
          </td>
        <td>{{ req.status }}</td>
         <td>{{ req.created_at|date:"Y-m-d H:i" }}</td>
          <td>{{ req.updated_at|date:"Y-m-d H:i" }}</td>
        <td><a href="{% url 'finalise_request' req.id %}" class="btn btn-primary">Finalise</a></td>
      </tr>
      {% empty %}
      <tr><td colspan="4">No approved requests.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
